<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Examples</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	 <style>
        .red{
            border:1px solid red;
        }
        .big{
            width:100px;
            height:100px;
            background-color: yellow;
        }
    </style>
</head>
<body ng-app>
	<div ng-init="myname='llfly'">Hello {{ myname }}！</div>
	<div ng-init="width=20;length=20">长方形的面积： {{ width * length }}</div>
	<div ng-init="numbers=['1','2','3']">第一个数字为： {{ numbers[0] }}</div>

	<div>ng-model的单向绑定(view->model)：<input type="text" ng-model="username">你输入的为： {{ username }}</div>

	<div>请输入一个名字：<input type="text" ng-model="name1">Hello<span ng-bind="name1"></span></div>


	<div ng-init="click=false"><button ng-click="click= !click">隐藏/显示</button>
	    <div ng-hide="click">
	        请输入一个名字：<input type="text" ng-model="name">
	        Hello <span ng-bind="name">test</span>
	        PS：ng-hide="true"，设置HTML元素不可见。ng-bind标签内的文本不会显示
	    </div>
	</div>

	<div ng-class="{red:red,big:big}" ng-mouseover="red=!red;big=!big" ng-mouseout="red=!red;big=!big">
		hello
	</div>

	<div ng-class="{red:red,big:big}"></div>






	<div ng-init="phones=[{name:'iphone'},{name:'xiaomi'},{name:'huawei'}]">
	    <div>
	            Search: <input ng-model="query">
	            <ul class="phones">
	                <li ng-repeat="phone in phones | filter:query">
	                    {{phone.name}}
	                </li>
	            </ul>
	    </div>
	</div>

	<div ng-include="'../footer.html'"></div>
</body>
</html>
<script src="../angular.js"></script>
<script type="text/javascript">
//五个特性
//双向数据绑定 —— 实现了把model与view完全绑定在一起，model变化，view也变化，反之亦然。
//模板 —— 在AngularJS中，模板相当于HTML文件被浏览器解析到DOM中，AngularJS遍历这些DOM，也就是说AuguarJS把模板当做DOM来操作，去生成一些指令来完成对view的数据绑定。
//MVVM —— 吸收了传统的MVC设计模式但又不是传统意义上的MVC，更接近于MVVM(Moodel-View-ViewModel)。
//依赖注入 —— AngularJS拥有内建的依赖注入子系统，可以帮助开发人员更容易的开发，理解和测试应用。
//指令 —— 可以用来创建自定义的标签，也可以用来装饰元素或者操作DOM属性。
//为什么要用angular
//前后端分离，后端只提供数据接口，路由，模板渲染等都在前端完成
//html和js分离,展示和逻辑分离
//减少JS代码,减少DOM元素查找，事件绑定等代码
//适合API开发

//ng-app :rootScope
//注入器(injector)将用于创建此应用程序的依赖注入(dependency injection)；
//注入器将会创建根作用域作为我们应用模型的范围；
//AngularJS将会链接根作用域中的DOM，从用ngApp标记的HTML标签开始，逐步处理DOM中指令和绑定。
//一旦AngularJS应用引导完毕，它将继续侦听浏览器的HTML触发事件，如鼠标点击事件、按键事件、HTTP传入响应等改变DOM模型的事件。这类事件一旦发生，AngularJS将会自动检测变化，并作出相应的处理及更新。

//通过ng-指令将html转变成特定领域语言 常见的有：ng-app、ng-init、ng-model、ng-bind、ng-repeat等等。


//module
//routes(路由),config(配置),run(启动方法),服务，filter(过滤器),directive(指令)
//factory(服务工厂),service(服务),provider(配方),

//ng-app指令来标明一个AngularJS应用程序，并通过AngularJS完成自动初始化应用和标记应用根作用域，同时载入和指令内容相关的模块，并通过拥有ng-app指令的标签为根节点开始编译其中的DOM。

//ng-init指令初始化应用程序数据，也就是为AngularJS应用程序定义初始值，通常情况下会使用一个控制器或模块来代替它。
//不仅可以赋值字符串，也可以赋值为数字、数组、对象，而且可以为多个变量赋初始值

//AngularJS框架的核心功能之一 —— 数据绑定，由两个花括号{{}}组成，可以把数据绑定到HTML，类似Javascript代码片段，可以包含文字、运算符和变量，通常在绑定数据中用到，表达式可以绑定数字、字符串、对象、数组，写在双大括号内：{{ expression }}。


//ng-model
//在AngularJS中，只需要使用ng-model指令就可以把应用程序数据绑定到HTML元素，实现model和view的双向绑定。
//ng-model把相关处理事件绑定到指定标签上，这样我们就可以不用在手工处理相关事件(比如change等)的条件下完成对数据的展现需求。

//ng-model原理
//angular加载完成之后会启动，首先找 ng-app指令
//找到后认为ng-app里面的所有的内容都归angular来管
//找子层标签里所有的指令，然后就可以找到ng-model
//找到后会生成数据模型，然后挂在根作用域上面。
//然后下面所有的标签都可以读取ng-model的值。


//指令ng-bind和AngularJS表达式{{}}有异曲同工之妙，但不同之处就在于ng-bind是在angular解析渲染完毕后才将数据显示出来的。
//使用花括号语法时，因为浏览器需要首先加载页面，渲染它，然后AngularJS才能把它解析成你期望看到的内容，所以对于首个页面中的数据绑定操作，建议采用ng-bind，以避免其未被渲染的模板被用户看到。

//AngularJS也有自己的HTML事件指令,比如说通过ng-click定义一个AngularJS单击事件。
//对按钮、链接等，我们都可以用ng-click指令属性来实现绑定,将DOM元素的鼠标点击事件(即mousedown)绑定到一个方法上，当浏览器在该DOM元素上鼠标触发点击事件时，Angular就会调用相应的方法。

//ng-repeat指令，遍历一个数据集合中的每个数据元素，并且加载HTML模版把数据渲染出来，当我们要向HTML容器节点中添加更多类似DOM元素的时候，使用ng-repeat是再好不过了。ng-repeat指令对于集合中(数组中)的每一项都会渲染一次HTML元素。


//ng-class是AngularJS预设的一个指令，用于动态自定义dom元素的css class name


//ng-include就是将多个页面的公共页面提取出来，如header.html，footer.html等
//必须要有web容器的支持，否则会报错
//footer.html必须是一个angular应用，所以要绑定ng-app
//footer.html和bottom.html在同一目录，所以应该是<div ng-include="'bottom.html'"></div>

</script>