extends ../layout

block content
	div.container
		form(action='/users/login',method='post',role='form').form-horizontal
			div.form-group
				label(for='username').col-sm-2.control-label 用户名
				div.input-group.col-sm-10
					div.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control#username(name='username',type='text',placeholder='用户名')

			div.form-group
				label(for='password').col-sm-2.control-label 密码
				div.input-group.col-sm-10
					div.input-group-addon
						span.glyphicon.glyphicon-lock
					input.form-control#password(name='password',type='password',placeholder='密码')

			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type='submit') 提交
					button.btn.btn-default(type='reset') 重置